<form action="/cadastrar" method="POST">

   <h2>Cadastrar Produto: <br></h2> 

    <label for="nome">nome:</label>
    <input type="text" name="nome" id="nome">

    <label for="valor">Valor:</label>
    <input type="number" min="0" max="100" name="valor" id="valor" step="any">

    <label for="quantidade">Quantidade:</label>
    <input type="number" name="quantidade" id="quantidade">

    <input type="submit" value="enviar">

    <br><a href="/produtos">Clique aqui </a> para voltar para a página de produtos

</form>

{{>partials/footer}}

