{{>partials/header}}

<a href="/cadastrar">Adicionar Produtos<a>



<table border="1" width="100%">

    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>VALOR</th>
        <th>QUANTIDADE</th>
        <th>AÇÕES</th>
    </tr>
{{#products}}
    <tr>
        <td>{{id}} </td>
        <td>{{nome}} </td>
        <td>{{valor}} </td>
        <td>{{quantidade}} </td>
        <td>
            <a href="/editar/{{id}}"><img src="/images/document.png" width="20px"></a>
            <a href="/excluir/{{id}}" onClick="return confirm('Deseja deletar?')"><img src="/images/trash.png" width="20px"></a>
        </td>
    </tr>

{{/products}}
</table>

{{>partials/footer}}